<div class="row">
	<div class="column text-center">
		<h1></h1>




	</div>	
</div>
        <section class="section">
          <div class="section-header">
            <h1>Szavazó megkapta a szavazólapot?</h1>
          </div>
          <div class="section-body">
            <p class="text-center">
	            <?= $this->Form->postLink(__('Igen, megkapta'), ['action' => 'confirmVoted', $user->id], ['data' => ['votedId' => $user->id],'class' => 'button', 'class' => 'btn btn-outline-primary note-btn', 'confirm' => __('Biztos odaadtad a szavazólapot?')]) ?>

            </p>
          </div>
        </section>