<?php
if (!isset($params['escape']) || $params['escape'] !== false) {
    $message = h($message);
}
?>

<div class="modal fade show" tabindex="-1" role="dialog" id="elovalasztoModal" style="padding-right: 15px; display: block;">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Siker</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Bezárás">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <p><?= $message ?></p>
              </div>
              <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-success" data-dismiss="modal">Oké</button>
              </div>
            </div>
          </div>
        </div>